<div class="container">
  <div class="card mx-auto" style="width: 500xp;margin-top: 100px">
    <div class="card-header text-center">
      <h3>{{quizTitle}}</h3>
    </div>
    <div class="card-body">
      <form *ngIf="loadQuestion" [formGroup]="quizForm">
        <p>
          <b>Q{{currentQues.id}}</b>. {{currentQues.question}}
        </p>
        <div>
          <div *ngFor="let option of currentQues.options;let i=index">
            <input type="radio" value={{i}} formControlName="answers" (change)="getAns($event)"> {{option}}
          </div>
        </div>
        <div class="text-center">
          <button class="btn btn-success" (click)="submitAns()">Submit Answer</button>
        </div>
      </form>
    </div>
    <div class="card-footer text-center bg-dark">
      <div class="row">
        <div class="col-6">
          <span class="text-white">Question Diffculty Level : {{currentQues.difficulty | uppercase}}</span>
        </div>
        <div class="col-6">
          <span class="text-white">Type : {{currentQues.type | uppercase}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
