<div class="container">
  <div class="row">

    <!-- Quiz Component -->
    <div class="col-md-8">
      <div class="card mx-auto" style="width: 500xp;margin-top: 100px;height :100%">
        <div class="card-header text-center">
          <h3>{{quizTitle}}</h3>
        </div>
        <div class="card-body">
          <form *ngIf="loadQuestion" [formGroup]="quizForm">
            <p>
              <b>Q{{currentQues.id}}</b>. {{currentQues.question}}
            </p>
            <div>
              <div *ngFor="let option of currentQues.options;let i=index">
                <input type="radio" value={{i}} [checked]="selectedIndex===i" formControlName="answers" (change)="getAns($event)"> {{option}}
              </div>
            </div>
            <div class="text-center mt-2">
              <button class="btn btn-success mr-2" [disabled]="prevDisabled" (click)="displayQuestion(currentQues.id-2)">Prev Question</button>
              <button class="btn btn-success ml-2" [disabled]="nextDisabled" (click)="displayQuestion(currentQues.id)">Next Question</button>
            </div>
            <div class="text-center mt-2">
              <button class="btn btn-primary" (click)="submitQuiz()">Submit Quiz</button>
            </div>
          </form>
        </div>
        <div class="card-footer text-center bg-dark">
          <div class="row">
            <div class="col-6">
              <span class="text-white">Question Diffculty Level : {{currentQues.difficulty | uppercase}}</span>
            </div>
            <div class="col-6">
              <span class="text-white">Type : {{currentQues.type | uppercase}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Navigation Component -->

    <div class="col-md-4">
      <div class="jumbotron mx-auto" style="margin-top: 100px;height :100%">
        <app-navigation [currentQuesNo]="currentQues.id" (navigateToQues)="navigate($event)"></app-navigation>
      </div>
    </div>
  </div>
</div>
