<div class="container">
  <ul class="nav nav-tabs bg-dark text-white">
    <div class="nav-item">
      <li class="nav-link active" href="#">Home</li>
    </div>
    <div class="nav-item">
      <li class="nav-link" [routerLink]="['/about_quiz']" routerLinkActive="router-link-active">About Quiz</li>
    </div>
  </ul>
</div>

<div class="container">
  <div class="jumbotron">
    <h3 class="text-center mb-3">QUIZ TOPICS</h3>
    <form action="" class="form form-inline justify-content-center">
      <select class="form-control mr-2" [(ngModel)]="topic" name="topic">
        <option hidden selected></option>
        <option *ngFor="let cat of quizTopics" value="{{cat.category_id}}">{{cat.name}}</option>
      </select>
      <input type="text" class="form-control mr-2" placeholder="No of Questions" [(ngModel)]="quesCount" name="quesCount" (change)="setQuesCount()">
      <select class="form-control" [(ngModel)]="difficulty" name="difficulty">
        <option value="" selected hidden></option>
        <option *ngFor="let diff of difficultyLevels" value="{{diff}}">{{diff | uppercase}}</option>
      </select>
    </form>
    <div class="mt-3" style="margin-left: 80px">
      <h4>Default Values</h4>
      <small class="text-info">Category : Computer, No. of Questions : 10, Difficulty: Any</small>
    </div>
  </div>
</div>

<div class="container">
  <div class="card mx-auto mt-5" style="width: 500px">
    <div class="card-header text-center">
      <h3>Quiz Rules</h3>
    </div>
    <div class="card-body">
      <ul>
        <li>Total {{displayCount}} Questions</li>
        <li>Question Types : Multiple Choice,Single Choice, True/False</li>
        <li>All questions are compulsory</li>
        <li>Correct Answer : +1 marks</li>
        <li>No negative Marking</li>
      </ul>
      <div class="form-group" style="margin-left: 20px">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" [(ngModel)]="agree" (change)="checkError()">
          <label class="form-check-label" for="gridCheck">
            <span class="text-info">Agree to Terms and Condition</span>
            <div>
              <small *ngIf="error" class="text-danger">{{error}}</small>
            </div>
          </label>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-info" (click)="startQuiz()">Start Quiz</button>
      </div>
    </div>
  </div>
